#text{
    font-family: "Fuzzy Bubbles", 'Helvetica Neue, Helvetica, Arial';
  }
  #author{ 
    font-weight: bold; margin: 20px 0; 
    font-family: "Montserrat", 'Helvetica Neue, Helvetica, Arial'; 
  }